<nav class="navbar navbar-fixed-top">
   <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="/">Platia Food Truck</a>
      </div>
      <div class="collapse navbar-collapse" id="navigation-example">
         <ul class="nav navbar-nav navbar-right">
            <li>
               <a href="/">
                  <!-- <i class="material-icons">local_shipping</i> -->
                  About
               </a>
            </li>
            <li>
               <!-- <a href="http://demos.creative-tim.com/material-kit-pro/presentation.html?ref=utp-freebie" target="_blank"> -->
               <a href="/">
                  <!-- <i class="material-icons">date_range</i> -->
                  Schedule & Events
               </a>
            </li>
            <li>
               <a href="/menu">
                  <!-- <i class="material-icons">restaurant_menu</i> -->
                  Menu
               </a>
            </li>
            <!-- <li> -->
            <!-- <a href="http://demos.creative-tim.com/material-kit-pro/presentation.html?ref=utp-freebie"> -->
            <!-- <a href="/"> -->
            <!-- <i class="material-icons">place</i> -->
            <!-- Catering -->
            <!-- </a> -->
            <!-- </li> -->
            <li>
               <a href="/contact">
                  <!-- <i class="material-icons">contacts</i> -->
                  Contact Us
               </a>
            </li>
            <li>
               <a href="https://www.facebook.com/PlatiaFoodTruck/" target="_blank" class="btn btn-simple btn-white btn-just-icon">
               <i class="fa fa-facebook-square"></i>
               </a>
            </li>
            <li>
               <a href="https://www.instagram.com/platiafoodtruck/" target="_blank" class="btn btn-simple btn-white btn-just-icon">
               <i class="fa fa-instagram"></i>
               </a>
            </li>
            <li>
               <a href="https://twitter.com/PlatiaFoodTruck" target="_blank" class="btn btn-simple btn-white btn-just-icon">
               <i class="fa fa-twitter"></i>
               </a>
            </li>
         </ul>
      </div>
   </div>
</nav>
