<div class="wrapper">
<div class="header header-filter" style="background-image: url('assets/img/bg5.jpg');">
   <div class="container">
      <div class="row">
         <div class="col-md-8 col-md-offset-2">
            <div class="brand">
               <h1>Platia Food Truck</h1>
               <h3>Best Gyros in Charleston, SC</h3>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- you can use the class main-raised if you want the main area to be as a page with shadows -->
<div class="main main-raised">
   <div class="container">
      <!-- here you can add your content -->
      <div class="section text-center section-landing">
         <div class="row">
            <div class="col-md-8 col-md-offset-2">
               <h2 class="title">Greek Goodness</h2>
               <h5 class="description">
                  <p>
                     "OPA!" ~ Platia is bringing a taste of Athens to the heart of Downtown Charleston!<br>
                     We pride ourselves in using local produce to serve fresh, traditional greek cuisine.
                  </p>
                  <p>
                     Whether you're craving the must-try Lamb Gyro, our local favorite 'the Hill Billy', or
                     one of our vegetarian friendly menu options - we're sure you'll be eating like a greek God.
                  </p>
               </h5>
            </div>
         </div>
         <!--Start Carousel  -->
         <div class="section" id="carousel">
            <div class="container">
               <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                     <!-- Carousel Card -->
                     <div class="card card-raised card-carousel">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                           <div class="carousel slide" data-ride="carousel">
                              <!-- Indicators -->
                              <ol class="carousel-indicators">
                                 <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                 <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                 <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                              </ol>
                              <!-- Wrapper for slides -->
                              <div class="carousel-inner" id="carousel-items">
                                 <div class="item active">
                                    <img src="assets/img/platia/platia1.jpg" alt="Awesome Image">
                                    <div class="carousel-caption">
                                       <h4>Lamb Gyro</h4>
                                       <a href="/menu" class="btn btn-info btn-round btn-lg hidden-xs">Menu</a>
                                       <a href="/menu" class="btn btn-info btn-round btn-md hidden-sm hidden-md hidden-lg">Menu</a>
                                    </div>
                                 </div>
                                 <div class="item">
                                    <img src="assets/img/platia/platia2.jpg" alt="Awesome Image">
                                    <div class="carousel-caption">
                                       <h4>Souvlaki, Fries, Pita Chips, Salad, & Dips</h4>
																			 <a href="/menu" class="btn btn-info btn-round btn-lg hidden-xs">Menu</a>
                                       <a href="/menu" class="btn btn-info btn-round btn-md hidden-sm hidden-md hidden-lg">Menu</a>
                                    </div>
                                 </div>
                                 <div class="item">
                                    <img src="assets/img/platia/platia3.jpg" alt="Awesome Image">
                                    <div class="carousel-caption">
                                       <h4>Hill Billy Gyro, Feta Fries, & Side of Tzatziki</h4>
																			 <a href="/menu" class="btn btn-info btn-round btn-lg hidden-xs">Menu</a>
                                       <a href="/menu" class="btn btn-info btn-round btn-md hidden-sm hidden-md hidden-lg">Menu</a>
                                    </div>
                                 </div>
                              </div>
                              <!-- Controls -->
                              <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                              <i class="material-icons">keyboard_arrow_left</i>
                              </a>
                              <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                              <i class="material-icons">keyboard_arrow_right</i>
                              </a>
                           </div>
                        </div>
                     </div>
                     <!-- End Carousel Card -->
                  </div>
               </div>
            </div>
         </div>
         <!--End Carousel  -->
      </div>
      <div class="row text-center">
         <div class="col-md-4">
            <div class="info">
               <div class="icon icon-danger">
                  <i class="material-icons">place</i>
               </div>
               <h4 class="info-title">Location & Info</h4>
               <p>
               <ul style="list-style-type:none">
                  <li>Hours: Thurs: 9PM - 3AM | Fri & Sat: 8PM - 3 AM</li>
                  <li>Email: <a href="mailto:platiafoodtruck@gmail.com">platiafoodtruck@gmail.com</a></li>
               </ul>
               </p>
               <iframe src="https://goo.gl/YWxXV8" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
         </div>
         <div class="col-md-4">
            <div class="info">
               <div class="icon icon-success">
                  <i class="material-icons">local_shipping</i>
               </div>
               <h4 class="info-title">Catering</h4>
               <p>
                  Want Platia at your next corporate event, party, meet-up, or any other special occasion?
                  We'd be honor to cater for your event. Make a reservation today!
               </p>
               <button class="btn btn-lg btn-danger btn-raised">
               Book Your Event!
               </button>
               <img style="width:220px;height:220px;" src="assets/img/examples/catering.jpg" class="img-rounded" />
            </div>
         </div>
         <div class="col-md-4">
            <div class="info">
               <div class="icon icon-primary">
                  <i class="material-icons">thumb_up</i>
               </div>
               <h4 class="info-title">Follow Us!</h4>
               <p>
                  Follow us on our social media!
                  Leave us a review about your experience.
                  Feel that your food is instagram worthy? Make sure to tag us and put #platia #greekgoodness
               </p>
               <div class="row sharing-area text-center">
                  <a href="https://www.facebook.com/PlatiaFoodTruck/" target="_blank" class="btn btn-facebook">
                  <i class="fa fa-facebook-square"></i>
                  Like
                  </a>
                  <a href="https://www.instagram.com/platiafoodtruck/" target="_blank" class="btn btn-instagram">
                  <i class="fa fa-instagram"></i>
                  Follow
                  </a>
                  <a href="https://twitter.com/PlatiaFoodTruck" target="_blank" class="btn btn-twitter">
                  <i class="fa fa-twitter"></i>
                  Tweet
                  </a>
                  <a href="https://www.yelp.com/writeareview/biz/x0FTZknsiy2RELgIytwW9Q?return_url=%2Fbiz%2Fx0FTZknsiy2RELgIytwW9Q" target="_blank" class="btn btn-yelp">
                  <i class="fa fa-yelp"></i>
                  Rate
                  </a>
                  <a href="https://search.google.com/local/writereview?placeid=ChIJq6qqqkN6_ogRq9IcR2TAD7I" target="_blank" class="btn btn-google-maps">
                  <i class="fa fa-map"></i>
                  Review
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
