<div class="wrapper">
   <div class="header header-filter" style="background-image: url('assets/img/bg5.jpg');">
      <div class="container">
         <div class="row">
            <div class="col-md-8 col-md-offset-2">
               <div class="brand">
                  <h1>Menu</h1>
                  <h3>made fresh, daily</h3>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- you can use the class main-raised if you want the main area to be as a page with shadows -->
   <div class="main main-raised">
      <div class="container">
         <!-- here you can add your content -->
         <div class="section text-center section-landing">
           <div class="row">
              <div class="col-md-8 col-md-offset-2">
                 <h2 class="title">Greek Cuisine</h2>
                 <h5 class="description">
                    <p>
                       Platia is a taste of Greece nobody can resists.
                       All of our menu items are made fresh, daily.
                       <br>
                     </p>
                     <p>
                       Can't wait to find us at our downtown spot? No problem - find us on UberEATS!
                       <br>
                       <!-- <button class="btn btn-lg btn-danger btn-raised">
                       Book Your Event!
                       </button> -->
                       <a class="btn btn-lg btn-danger btn-raised" href="https://www.ubereats.com/charleston/food-delivery/platia/in9itAcRTxKI4v5qlmklzQ/">Order Now</a>
                    </p>
                 </h5>
              </div>
           </div>
            <!-- <div class="row">
               <div class="col-md-8 col-md-offset-2">
               </div>
               </div> -->
            <!--Start Carousel  -->
            <img id="menu" class="card card-raised img-rounded" src="assets/img/platia/platia_menu.jpg" class="img-rounded" />
            <!-- <img class="card card-raised img-rounded hidden-sm hidden-md hidden-lg" src="assets/img/platia/platia_menu2.jpg" class="img-rounded" /> -->

         </div>
         <!--End Carousel  -->
      </div>
   </div>
</div>
