<div class="wrapper">
	<div class="header header-filter" style="background-image: url('assets/img/bg5.jpeg');">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="brand">
						<h1>Menu</h1>
						<h3>made fresh, daily</h3>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- you can use the class main-raised if you want the main area to be as a page with shadows -->
	<div class="main main-raised">
		<div class="container">
			<!-- here you can add your content -->
			<div class="section text-center section-landing">
				<div class="row">
						<div class="col-md-8 col-md-offset-2">
								<!-- <h2 class="title">Greek Goodness</h2> -->
								<!-- <h5 class="description"> -->
									<!-- <p>Text1</p> -->
									<!-- <p>Text2</p> -->
								<!-- </h5> -->
						</div>
				</div>
        <!--Start Carousel  -->
        <div class="section" id="carousel">
          <div class="container">
            <div class="row">
              <!-- <div class="col-md-8 col-md-offset-2"> -->
                <!-- Carousel Card -->
                <div class="card card-raised card-carousel">
                  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <div class="carousel slide" data-ride="carousel">
                     <!-- Wrapper for slides -->
                     <div class="carousel-inner">
                       <div class="item active">
                         <img src="assets/img/platia/platia_menu.jpg" alt="Awesome Image">
                         <div class="carousel-caption">
                         </div>
                       </div>
                     </div>
                 </div>
               </div>
             </div>
             <!-- End Carousel Card -->
           <!-- </div> -->
         </div>
       </div>
     </div>
     <!--End Carousel  -->
			</div>
		</div>
	</div>
